.color-nav{
    background-color: rgba(0,0,255,.1);
    color:rgb(0, 0, 0);
}
.card {
    justify-content: center;
    position: relative;
    /* padding-left: 35%; */
    justify-items: center;
}
.carousel-item {
    justify-content: center;
    position: relative;
    /* padding-left: 35%; */
    justify-items: center;
  }

.tam-log-h{
    width: 50px;
    height: 50px;
}
.tam-log-tl{
    width: 45px;
    height: 45px;
}

.bck-color{
    width: 120px; 
    background-color: rgba(0,0,255,.1)
}
.bck-color-2{
    background-color: rgba(180, 180, 180, 0.644);
}
.bck-color-2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.center{
    text-align: center;
}
footer{
    border-top: 1px rgb(192, 188, 188) solid;
  }
.left{
    float: left;
    width: 50%;
    height: 100px;
  }
.rigth{
    float: right;
    height: 100px;
    padding-left: 10px;
  }
.max-img{
    max-height: 300px;
}

.card:hover {
    border: 1px solid #777;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.white{
    color: rgb(255, 255, 255);
}
.bnt-j{
    margin-left: 37%;
    
}
hr{
 border: 1px rgb(161, 161, 161) solid;
}