.color-nav{
    background-color: rgba(0,0,255,.1);
    color:rgb(0, 0, 0);
}
.card {
    justify-content: center;
    position: relative;
    /* padding-left: 35%; */
    justify-items: center;
}
.carousel-item {
    justify-content: center;
    position: relative;
    /* padding-left: 35%; */
    justify-items: center;
  }

.tam{
    min-height: 100px;
    min-width: 100px;
    max-width: 300px;
    max-height: 300px;
}

.bck-head{
    width: 120px; 
    background-color: rgba(0,0,255,.1)
}
.center{
    text-align: center;
}
footer{
    border-top: 1px rgb(192, 188, 188) solid;
  }
.left{
    float: left;
    width: 50%;
    height: 100px;
  }
.rigth{
    float: right;
    height: 100px;
    padding-left: 10px;
  }
.max-img{
    max-height: 300px;
}

.card:hover {
    border: 1px solid #777;
  }